In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [6]:
data = pd.read_csv("./games.txt", sep=" ")

In [7]:
data

      GAME_DATE_EST\tTEAM_ID_home\tPTS_home\tFG_PCT_home\tFT_PCT_home\tFG3_PCT_home\tAST_home\tREB_home\tHOME_TEAM_WINS
0      22/12/2022\t1610612740\t126\t0.484\t0.926\t0.3...
1      22/12/2022\t1610612762\t120\t0.488\t0.952\t0.4...
2      21/12/2022\t1610612739\t114\t0.482\t0.786\t0.3...
3      21/12/2022\t1610612755\t113\t0.441\t0.909\t0.2...
4      21/12/2022\t1610612737\t108\t0.429\t1\t0.378\t...
...                                                  ...
26646  6/10/2014\t1610612737\t93\t0.419\t0.821\t0.421...
26647  6/10/2014\t1610612741\t81\t0.338\t0.719\t0.381...
26648  6/10/2014\t1610612747\t98\t0.448\t0.682\t0.5\t...
26649  5/10/2014\t1610612761\t99\t0.44\t0.771\t0.333\...
26650  4/10/2014\t1610612748\t86\t0.431\t0.679\t0.333...

[26651 rows x 1 columns]